<main id="main-container" class="d-flex" style="margin-top: 5px;background-color: beige;">
  

<header style="background-color: beige;">
  <!-- Aggiungi qui il contenuto dell'header -->
  <img src="assets/images/layers-2x.png" alt="Marker">
</header>

  <mat-tab-group>
    
    <mat-tab label="Home">
      <app-home></app-home>
    </mat-tab>
    
    <mat-tab label="Azienda">
      <app-azienda></app-azienda>
    </mat-tab>
    
    <mat-tab label="Servizi"> 
      <app-servizi></app-servizi>
    </mat-tab>
    
   <mat-tab label="Telegestione">
    <app-telegestione></app-telegestione>
    </mat-tab>
    
    <mat-tab label="Realizzazioni"> 
      <app-realizzazioni></app-realizzazioni>
    </mat-tab>

    <mat-tab label="Contatti"> 
      <app-contatti></app-contatti>
    </mat-tab>
  </mat-tab-group>


  <footer style="position: fixed; bottom: 0; right: 0; background-color: beige;">
    <div style="text-align: right;margin-right: 50px;">
  <form  [formGroup]="datiUtente">
    <h2 style="margin-right: 550px;">Contattaci</h2>

    <p><strong style="margin-right: 20px;">Email utente:</strong>
       <input style="margin-right: 400px;" type="text" formControlName = "email"></p>

    <p><strong style="margin-right: 20px;">Numero telefonico:</strong>
       <input style="margin-right: 400px;" type="text" formControlName = "numero"></p>
    <p>
      <strong style="margin-right: 20px;">Guasto riscontrato:</strong> 
      <textarea style="margin-right: 400px;" formControlName="guasto"></textarea>
    </p>
        <button style="margin-right: 400px;margin-bottom: 20px;" type="submit" 
        (click)="inviaEmail(datiUtente)">Invia e-mail</button>
  </form>
</div> 
</footer>
</main>
