<main id="main-container" class="d-flex" style="margin-top: 80px">
  <mat-tab-group>
    
    <mat-tab label="Home">
      <app-home></app-home>
    </mat-tab>
    
    <mat-tab label="Azienda">
      <app-azienda></app-azienda>
    </mat-tab>
    
    <mat-tab label="Servizi"> 
      <app-servizi></app-servizi>
    </mat-tab>
    
   <mat-tab label="Telegestione">
    <app-telegestione></app-telegestione>
    </mat-tab>
    
    <mat-tab label="Realizzazioni"> 
      <app-realizzazioni></app-realizzazioni>
    </mat-tab>

    <mat-tab label="Contatti"> 
      <app-contatti></app-contatti>
    </mat-tab>
  </mat-tab-group>
</main>