/* menu.component.css */

.menu {
    display: flex;  /* Usa un layout flessibile per i componenti del menu */
  }
  
  .sidebar-left,
  .sidebar-right {
    width: 200px; 
    background-color: beige; 
    padding: 10px; 
  }
  
  .main-content {
    flex: 1;  /* Flessibilità massima per occupare lo spazio rimanente */
    padding: 10px;  /* Aggiunge spaziatura interna al contenuto principale */
    background-color: beige;

  }
  body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: beige;
  }
  header, footer, mat-tab-group {
    margin: 0;
    padding: 0;
  }
  