<header>
  <!-- Aggiungi qui il contenuto dell'header -->
  <h1>Il mio header</h1>
</header>

<main id="main-container" class="d-flex" style="margin-top: 80px">
  <mat-tab-group>
    
    <mat-tab label="Home">
      <app-home></app-home>
    </mat-tab>
    
    <mat-tab label="Azienda">
      <app-azienda></app-azienda>
    </mat-tab>
    
    <mat-tab label="Servizi"> 
      <app-servizi></app-servizi>
    </mat-tab>
    
   <mat-tab label="Telegestione">
    <app-telegestione></app-telegestione>
    </mat-tab>
    
    <mat-tab label="Realizzazioni"> 
      <app-realizzazioni></app-realizzazioni>
    </mat-tab>

    <mat-tab label="Contatti"> 
      <app-contatti></app-contatti>
    </mat-tab>
  </mat-tab-group>
</main>

<footer>
  <form  [formGroup]="datiUtente">
  <div class="customer">
    <h2>Contattaci</h2>
    <p><strong>Email:</strong> <input style="width: 300px;margin-left: 92px;" type="text" formControlName = "email"></p>
    <p><strong>Numero:</strong> <input style="width: 300px;margin-left: 72px;" type="text" formControlName = "numero"></p>
    <p><strong>Guasto:</strong> <input style="width: 300px;margin-left: 30px;" type="text" formControlName = "guasto"></p>
    <button type="submit" (click)="inviaEmail(datiUtente)">Invia e-mail</button>
  </div>
</form>
</footer>